
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    tab-size: 4;
    font-family: Inter, system-ui, sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}
body{
    margin: 0;
    background: #121212;
}
